---
layout: default
title: Pictures
---

<!-- Posts Index -->
 <!--
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Pictures</span></h2>
    </div>

    <div class="row listrecent">
        {% for post in site.posts %}
            {% if post.categories contains "pictures" %}
                <div class="pictures-container">
                        <div class="picture-inner-rectangle">
                            <img src="{{ post.image }}" 
                                 alt="{{ post.title }}" 
                                 class="pictures-image">
                            <p class="pictures-name">
                                <strong>{{ post.title }}</strong>
                            </p>
                            <p class="pictures-author">
                                <strong>{{ post.author }}</strong>
                            </p>
                            <p class="pictures-desc">
                                <strong>{{ post.description }}</strong>
                            </p>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
-->

<section class="recent-posts">
    <div class="section-title">
        <h2><span>Pictures</span></h2>
    </div>

    <!-- Flex container for all posts -->
    <div class="pictures-container">
        {% for post in site.posts %}
            {% if post.categories contains "pictures" %}
                <!-- Individual post -->
                <div class="picture-inner-rectangle">
                    <!-- Display the post image -->
                    <img src="{{ post.image }}" 
                         alt="{{ post.title }}" 
                         class="pictures-image">
                    <!-- Display the post title -->
                    <p class="pictures-name">
                        <strong>{{ post.title }}</strong>
                    </p>
                    <!-- Display the Author Name -->
                    <p class="pictures-author">
                        <strong>{{ post.author }}</strong>
                    </p>
                    <!-- Display the post description -->
                    <p class="pictures-desc">
                        <strong>{{ post.description }}</strong>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>



<!-- Pagination -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
